{% extends 'baseuser.html.twig' %}

{% block title %}Test słówek{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper" style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  "> 

<div style="text-align: center;	padding: .8em 1.2em;">
    <h1> {{ question }} </h1>
    </br>
    <form name = "myform" autocomplete="off" method="POST">
    <input name="answer" type="text" id="txtName"/>
    </br>
    </br>
    <button name="submit" type="submit" class="btn btn-lg btn-primary" style="align: center; font-size: 15px;">OK</button>
    </form>
    </br>
    <p style="font-size:160%;">{{ answer }}
    </br>
    {{ mark }}
    </br>
    </p>
   <p style="color:red; font-size:160%;"> {{ correctansword }} </p>
   
 



</div>
 
</div>
<div class="example-wrapper" style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  "> 
<div style="text-align: center;	padding: .8em 1.2em;">
Wybierz głos:
</br>
</br>
<select id='voiceList'></select> <br><br>
 
<button id='btnSpeak' class="btn btn-info" >Mów!</button>
</div>
   </div>  
 <script>
       
        var btnSpeak = document.querySelector('#btnSpeak');
        var voiceList = document.querySelector('#voiceList');
        var synth = window.speechSynthesis;
        var voices = [];
        var lang = "{{language}}";
        PopulateVoices();
        if(speechSynthesis !== undefined){
            speechSynthesis.onvoiceschanged = PopulateVoices;
        }

        btnSpeak.addEventListener('click', ()=> {
            var toSpeak = new SpeechSynthesisUtterance("{{correctansword}}");
            var selectedVoiceName = voiceList.selectedOptions[0].getAttribute('data-name');
            voices.forEach((voice)=>{
                if(voice.name === selectedVoiceName){
                    toSpeak.voice = voice;
                }
            });
            synth.speak(toSpeak);
        });
  
        function PopulateVoices(){
            voices = synth.getVoices();
            var selectedIndex = voiceList.selectedIndex < 0 ? 0 : voiceList.selectedIndex;
            voiceList.innerHTML = '';
            voices.forEach((voice)=>{
              if(lang == "Angielski")
                {
                  if(voice.name == "English (Scotland)" || voice.name == "English (Great Britain)" || voice.name == "English (America)" || voice.name == "English (Caribbean)" || voice.name == "English (Received Pronunciation)" || voice.name == "English (Lancaster)" || voice.name == "English (West Midlands)")
                  {
                  var listItem = document.createElement('option');
                  listItem.textContent = voice.name;
                  listItem.setAttribute('data-lang', voice.lang);
                  listItem.setAttribute('data-name', voice.name);
                  voiceList.appendChild(listItem);
                  }
                }
              else if(lang == "Hiszpański")
              {
                  if(voice.name == "Spanish (Latin America)" || voice.name == "Spanish (Spain)" )
                  {
                  var listItem = document.createElement('option');
                  listItem.textContent = voice.name;
                  listItem.setAttribute('data-lang', voice.lang);
                  listItem.setAttribute('data-name', voice.name);
                  voiceList.appendChild(listItem);
                  }
              }
              
              
            });

            voiceList.selectedIndex = selectedIndex;
        }
    </script>

{% endblock %}
